<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
  <table class="table mb-0 thead-border-top-0">
    <thead>
      <tr>
        <th>Material Name</th>
        <th>Ton</th>
        <th>Yard</th>
        <th>Load</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="list" id="blah">
        <tr>
          <td><strong><%= ["Diamond", "Ruby", "Ruby", "Emerald", "Unicorn Horn", "Sand", "Granite" ].sample %></strong></td>
          <td><a href="#" id="matPrice1">$23.54</a></td> 
          <td><a href="#" id="matPrice2">$23.54</a></td> 
          <td><a href="#" id="matPrice3">$23.54</a></td> 
          <td class="text-right dropdown">
            <a href="" class="text-muted dropdown-toggle" data-toggle="dropdown" data-caret="false"><i class="material-icons">more_vert</i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete</a>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>