.header-container {
    // border-bottom: 1px solid #181818;
    background: #1D1D1D;

    header {
        padding-left: 27px;
        padding-top: 20px;
        padding-right: 34px;
        padding-bottom: 20px;
        flex: initial;
        width: 100%;
        background: #1D1D1D;

        .fa-my-bars {
            width: 22px !important;
            height: 22px;
            cursor: pointer;
        }

        .header-left-block {
            flex: auto;
            display: flex;

            span {
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 18px;
                color: #21D2F9;

                &:nth-of-type(1) {
                    margin-left: 19px;
                }

                &:nth-of-type(2) {
                    color: #FFFFFF;
                }
            }
        }

        .header-right-block {
            flex: initial;
            display: flex;

            ul {
                display: flex;
                align-items: center;
                align-content: center;
                padding: 0;
                margin: 0;

                li {
                    padding: 0;
                    margin-left: 0;
                    margin-right: 40px;
                    cursor: pointer;
                    line-height: normal;
                    display: flex;

                    span {
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 14px;
                        color: #FFFFFF;
                    }

                    &:nth-of-type(3) {
                        margin-right: 0;

                        span {
                            color: #21D2F9;
                        }

                        .fa-my-list {}
                    }

                    span[data-type="aw-label"] {
                        padding-top: 3px;
                    }

                    .fa-my-list {
                        width: 25px !important;
                        height: 25px;
                        margin-right: 12.5px;
                    }

                    .fa-my-dashboard {
                        width: 25px !important;
                        height: 25px;
                        margin-right: 12.5px;
                    }
                }
            }
        }
    }
}
