.job-management-container {
    table {
        background: #282828;
    }
}

tr {
    color: #E7E7E7;
    border-bottom-width: 2px;
    border-bottom-color: #1D1D1D;
    border-top-width: 2px;
    border-top-color: #1D1D1D;

    th[scope="active"] {
        height: 32px;
        border-radius: 4px;
        position: relative;
        padding: 15px 0 !important;
        line-height: 1px;
        padding-left: 25px !important;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        color: #21D2F9;
        width: 102px;
        cursor: pointer;
        border-top: none;

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 14px;
            height: 100%;
            background: #646464;
            border-radius: 4px 0 0 4px;
        }

        &.trucks-added {
            &:before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: 14px;
                height: 100%;
                background: #CFD15D;
                border-radius: 4px 0 0 4px;
            }
        }
    }

    th[scope="completed"] {
        height: 32px;
        border-radius: 4px;
        position: relative;
        padding: 15px 0 !important;
        line-height: 1px;
        padding-left: 25px !important;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        color: #21D2F9;
        width: 102px;
        cursor: pointer;
        border-top: none;

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 14px;
            height: 100%;
            background:#5BBE38;
            border-radius: 4px 0 0 4px;
        }
    }

    &.truck-section {
        .truck-list {
            position: relative;
            padding: 9px 12px;
            width: 72px;

            .d-flex-wrap {
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
                padding-right: 48px;
                overflow: auto;
            }

            .threedot {
                position: absolute;
                left: 5px;
                bottom: 50%;
                height: 30px;

                div {
                    width: 4px;
                    height: 4px;
                    margin-top: 5px;
                    z-index: 99999;
                    background: #282828;
                    border-radius: 50%;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 14px;
                height: 130%;
                background: #646464;
                border-radius: 4px 0 0 4px;
            }

            .truck-number {
                margin: 5px 0 5px 10px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 11px;
                text-align: center;
                color: #2FB5D2;
                border-radius: 4px;
                width: 35px;
                height: 18px;
                border: 1px solid #2FB5D2;
                cursor: pointer;
            }
        }
    }

    td {
        height: 32px;
        padding: 15px 0 !important;
        line-height: 1px;
        font-size: 12px;
        border-top: none !important;

        .job-list {
            display: flex;
            align-items: center;

            .add-trucks {
                flex: auto;
            }

            .job-item {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-end;

                .job-number {
                    margin: 0 5px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 11px;
                    text-align: center;
                    color: #FFF;
                    background: #2FB5D2;
                    border-radius: 4px;
                    width: 35px;
                    height: 18px;
                    float: left;
                    border: 1px solid #2FB5D2;
                    cursor: pointer;
                }
            }


        }

        .fa-my-plus-square {
            color: #5BBE38;
            background-color: #282828;
            border-radius: 4px;
            font-size: 20px;
            cursor: pointer;
        }

        .fa-my-plus-square-disabled {
            color: #5BBE38;
            background-color: #282828;
            border-radius: 4px;
            font-size: 20px;
        }

        .fa-my-minus-square {
            color: #5BBE38;
            border-radius: 4px;
            font-size: 20px;
            cursor: pointer;
        }

        .fa-my-check {
            color: #ffffff;
            background: #21D2F9;
            border-radius: 4px;
            font-size: 14px;
            padding-left: 3px;
            padding-right: 3px;
            width: 20px !important;
            height: 20px;
            cursor: pointer;
        }

        &:nth-child(8) {
            width: 30px;
        }

        &:nth-child(9) {
            padding: 5px 5px !important;
            position: relative;
            width: 25%;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }
        }

        &:nth-child(10) {
            padding: 5px 5px !important;
            width: 33px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }

            div {
                width: 18px;
                height: 18px;
                border: 1px solid #616161;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }

        &:last-child {
            div {
                border: 1px solid #616161;
                box-sizing: border-box;
                border-radius: 4px;
                cursor: pointer;
                position: relative;

                &.checked {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 31%;
                        top: 50%;
                        width: 30%;
                        height: 2px;
                        background: #5BBE38;
                        transform: translate(-50%, -50%) rotate(-120deg);
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 54%;
                        top: 50%;
                        width: 60%;
                        height: 2px;
                        background: #5BBE38;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
}

.o-30 {
    opacity: 0.3;
}

.o-100 {
    opacity: 1;
    z-index: 100;
}

.edit-job-modal {
    min-width: 917px;
    min-height: 753px;
}

.dragging {
    // pointer-events: auto !important;
    cursor: grabbing !important;
    display: table-row !important;
}