.modal-content {
    background: #282828 !important;
    box-shadow: 3px 4px 34px rgba(14, 14, 14, 0.3) !important;
    border-radius: 4px !important;
    padding-left: 53px;
    padding-right: 39px;
    position: relative;

    .left-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        height: 100%;
        background: #CFD15D;
        border-radius: 4px 0 0 4px;
    }

    .header-options {
        position: absolute;
        right: 39px;
        top: 28px;
        color: #fff;
        display: flex;

        .btn__close {
            background: #333333;
            color: #fff;
            border-color: #333333;
            border-radius: 0.3rem;
            padding: 2px 10px;
            font-size: 14px;
            margin-right: 12px;
        }

        .btn__update {
            background: #21BA05;
            color: #fff;
            border-color: #21BA05;
            border-radius: 0.3rem;
            padding: 2px 10px;
            font-size: 14px;
        }

        .rectangle {
            width: 23px;
            height: 22px;
            border: 1px solid #616161;
            box-sizing: border-box;
            border-radius: 4px;
        }

        .hamburger {
            width: 30px;
            height: 22px;
            margin-left: 6px;
            color: #737373;
            border: 1px solid #737373;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 8px;
            padding-right: 8px;
            line-height: 13px;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
        }
    }

    .modal-header {
        padding: 26px 0;
        border-bottom: none;

        .modal-title {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 26px;
            color: #21D2F9;
        }

        .close {
            display: none;
            margin-top: -36px;
            margin-right: -45px;
        }
    }

    .modal-body {
        padding-right: 0;
        .map-container {
            height: 375px;
            margin-bottom: 220px;
            margin-top: 38px;
        }

        .row {
            margin-bottom: 24px;

            .w-192 {
                width: 192px;
                margin-right: 18px;
                overflow: hidden;
                white-space: nowrap;
            }

            .w-402 {
                width: 402px;
                margin-right: 18px;
                overflow: hidden;
                white-space: nowrap;
            }

            .w-822 {
                width: 822px;
                margin-right: 18px;
                overflow: hidden;
                white-space: nowrap;
            }

            .job-field {
                &:last-child {
                    margin-right: 0;
                }

                label {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    color: #FFFFFF;
                    display: block;
                }

                input {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 18px;
                    color: #E6E6E6;
                    background: none;
                    border: none;
                    padding-bottom: 9px;
                    border-bottom: 4px solid #D8D7E1;
                    display: block;
                    width: 100%;
                }

                span {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 18px;
                    color: #E6E6E6;
                    background: none;
                    border: none;
                    padding-bottom: 9px;
                    border-bottom: 4px solid #D8D7E1;
                    display: block;
                    width: 100%;
                }

                #trucks {
                    display: flex;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 18px;
                    color: #E6E6E6;
                    background: none;
                    border: none;
                    padding-bottom: 9px;
                    border-bottom: 4px solid #D8D7E1;
                    min-height: 31px;

                    .job-number {
                        margin: 0 5px;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        font-size: 11px;
                        text-align: center;
                        color: #FFF;
                        background: #2FB5D2;
                        border-radius: 4px;
                        width: 35px;
                        height: 18px;
                        float: left;
                        border: 1px solid #2FB5D2;
                        cursor: pointer;

                        &:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .options-dropdown {
        position: absolute;
        width: 157px;
        height: 117px;
        background: #1D1D1D;
        box-shadow: 3px 4px 34px #0E0E0E;
        right: 39px;
        top: 52px;
        padding: 18px 16px;

        .options-item {
            margin-bottom: 6px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}