<ul class="nav navbar-nav ml-auto d-none d-md-flex">
 <li class="nav-item dropdown">
    <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
      <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
    </a>
    <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
      <div class="dropdown-item d-flex align-items-center py-2">
        <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
        <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
      </div>
      <div class="navbar-notifications-menu__content" data-simplebar>
        <div class="py-2">
          <div class="dropdown-item d-flex">
            <div class="mr-3">
              <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                <img src="<%= image_path('256_daniel-gaffey-1060698-unsplash.jpg')%>" alt="Avatar" class="avatar-img rounded-circle">
              </div>
            </div>
            <div class="flex">
              <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
              <small class="text-muted">1 minute ago</small>
            </div>
          </div>
          <div class="dropdown-item d-flex">
            <div class="mr-3">
              <a href="#">
                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                  <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                </div>
              </a>
            </div>
            <div class="flex">
              New user <a href="#">Peter Parker</a> signed up.<br>
              <small class="text-muted">1 hour ago</small>
            </div>
          </div>
          <div class="dropdown-item d-flex">
            <div class="mr-3">
              <a href="#">
                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                  <span class="avatar-title rounded-circle">JD</span>
                </div>
              </a>
            </div>
            <div class="flex">
              <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
              <div>Hey, how are you? What about our next meeting</div>
              <small class="text-muted">2 minutes ago</small>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
    </div>
  </li>
</ul>