<div class="card-footer text-center">
  <div class="d-inline-block">
    <%= will_paginate collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: pagination_prev_markup, next_label: pagination_next_markup %>
  </div>
</div>