<%- title 'Truck Management' %>

<%= render 'dashboard/page_header' %>

<div class="container-fluid page__container">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Register a Trucks</h4>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>