<%- title 'Supplier Management' %>

<%= render 'dashboard/page_header' %>

<div class="container-fluid page__container">
  <div class="row">
    <div class="col-lg">
      <div class="card">
        <div class="card-header card-header-large bg-white">
          <h4 class="card-header__title">Suppliers</h4>
        </div>
        <%= render 'suppliers.table' %>
      </div>
    </div>
  </div>
</div>